<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="helloWorld" class="com.pravin.spring.tutorial.bean.HelloWorld" />
	<!-- static factory method initialization -->
	<bean id="myService" class="com.pravin.spring.tutorial.bean.HelloWorld"
		factory-method="getInstance" />

	<bean id="myServiceLocator" class="com.pravin.spring.tutorial.bean.HelloWorld" />
	<bean id="myInstanceService" factory-bean="myServiceLocator"
		factory-method="createService" />


</beans>